{% extends 'base_template/base.html' %}
{% load static %}

{% block content %}
    <div class="form-body without-side">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="{% static 'images/logo-light.svg' %}" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="{% static 'images/graphic3.svg' %}" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
					  	<br><a href='/register13'><button id="submit" type="submit" class="btn btn-primary  btn-sm d-flex justify-content-center">ثبت نام</button></a><br>

						<a href='/login13'><button id="submit" type="submit" class="btn btn-success btn-sm d-flex justify-content-center">ورود</button></a><br>
						<a href='/register13'><button id="submit" type="submit" class="btn btn-warning btn-sm d-flex justify-content-center">ویرایش اصلاعات</button></a>




                            <div class="form-button">
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}