{% extends 'base_template/base.html' %}
{% load static %}
{% block content %}
    <div class="form-body without-side">
        <div class="website-logo">
            <a href="/">
                <div class="logo">
                    <img class="logo-size" src="{%  static 'images/logo-light.svg' %}" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="{% static 'images/graphic3.svg' %}" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                      <h3>ورود به حساب</h3>
                        <p>با ورود به حساب خود به مدیریت حساب خود برسید</p>


                        <form method="post">
                        {% csrf_token %}

                        {# error for complete form #}
                        {% if register_form.errors %}
                            <div class="alert-danger">
                            <p style="color: darkred" class="text-danger">لطفا خطا را رفع کنید </p>
                            </div>
                        {% endif %}



                         <label for="{{register_form.firstname.id_for_lable}}">{{ register_form.firstname.label }}</label>
                               {{ register_form.firstname }}


                         <label for="{{register_form.lastname.id_for_lable}}">{{ register_form.lastname.label }}</label>
                                {{ register_form.lastname }}


                         <label for="{{register_form.username.id_for_lable}}">{{ register_form.username.label }}
                               {% for error in register_form.username.errors %}
                                    <div style="color: darkred">{{ error }}</div>
                                {% endfor %}
                        </label>
                                {{ register_form.username }}


                        <label for="{{register_form.email.id_for_lable}}">{{ register_form.email.label }}
                                {% for error in register_form.email.errors %}
                                    <div style="color: darkred">{{ error }}</div>
                                {% endfor %}
                        </label>
                                 {{ register_form.email }}


                        <label for="{{register_form.datebirth.id_for_lable}}">{{ register_form.datebirth.label }}</label>
                                 {{ register_form.datebirth }}


                        <label for="{{register_form.city.id_for_lable}}">{{ register_form.city.label }}</label>
                                 {{ register_form.city }}


                        <label for="{{register_form.idcard.id_for_lable}}">{{ register_form.idcard.label }}
                                 {% for error in register_form.idcard.errors %}
                                     <div style="color: darkred">{{ error }}</div>
                                 {% endfor %}
                        </label>
                                 {{ register_form.idcard }}


                        <label for="{{register_form.fathername.id_for_lable}}">{{ register_form.fathername.label }}</label>
                                 {{ register_form.fathername }}


                        <label for="{{register_form.gender.id_for_lable}}">{{ register_form.gender.label }}</label>
                                 {{ register_form.gender }}


                        <label for="{{register_form.address.id_for_lable}}">{{ register_form.address.label }}</label>
                                 {{ register_form.address }}


                        <label for="{{register_form.postcode.id_for_lable}}">{{ register_form.postcode.label }}
                                 {% for error in register_form.postcode.errors %}
                                     <div style="color: darkred">{{ error }}</div>
                                 {% endfor %}
                        </label>
                                 {{ register_form.postcode }}


                        <label for="{{register_form.phone_mobile.id_for_lable}}">{{ register_form.phone_mobile.label }}
                                {% for error in register_form.phone_mobile.errors %}
                                    <div style="color: darkred">{{ error }}</div>
                                {% endfor %}
                        </label>
                                 {{ register_form.phone_mobile }}


                        <label for="{{register_form.phone_home.id_for_lable}}">{{ register_form.phone_home.label }}</label>
                                 {{ register_form.phone_home }}


                        <label for="{{register_form.religen.id_for_lable}}">{{ register_form.religen.label }}</label>
                                 {{ register_form.religen }}


                        <label for="{{register_form.maritalstatus.id_for_lable}}">{{ register_form.maritalstatus.label }}</label>
                                 {{ register_form.maritalstatus }}


                        <label for="{{register_form.job.id_for_lable}}">{{ register_form.job.label }}</label>
                                 {{ register_form.job }}


                        <label for="{{register_form.education.id_for_lable}}">{{ register_form.education.label }}</label>
                                 {{ register_form.education }}


                        <label for="{{register_form.Universitydegree.id_for_lable}}">{{ register_form.Universitydegree.label }}</label>
                                 {{ register_form.Universitydegree }}


                        <label for="{{register_form.university.id_for_lable}}">{{ register_form.university.label }}</label>
                                 {{ register_form.university }}


                        <label for="{{register_form.password.id_for_lable}}">{{ register_form.password.label }}
                                {% for error in register_form.password_again.errors %}
                                    <div style="color: darkred">{{ error }}</div>
                                {% endfor %}
                        </label>
                               {{ register_form.password }}


                        <label for="{{register_form.password_again.id_for_lable}}">{{ register_form.password_again.label }}</label>
                                {{ register_form.password_again }}


                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">ثبت نام</button>
                            </div>

                        </form>

                        <div class="other-links">
                            <div class="text">یا ثبت نام با</div>
                            <a href="register13.html#"><i class="fab fa-facebook-f"></i> فیسبوک </a><a href="register13.html#"><i class="fab fa-google"></i>گوگل</a><a href="register13.html#"><i class="fab fa-linkedin-in"></i>لینکدین</a>
                        </div>

                        <div class="page-links">
                            <a href="login13.html">ورود به حساب</a>
                        </div>

                    </بخقئ>
                </div>
            </div>
        </div>
    </div>

{% endblock %}