
<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iform ورود و ثبت نام با</title>
    <link rel="stylesheet" type="text/css" href="css/rtl.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="css/iofrm-style-1.css">
    <link rel="stylesheet" type="text/css" href="css/iofrm-theme13.css">
</head>
<body>
    <div class="form-body without-side">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="images/logo-light.svg" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="images/graphic3.svg" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                      <h3>ورود به حساب</h3>
                        <p>با ورود به حساب خود به مدیریت حساب خود برسید</p>
                        <form>
                            <input class="form-control" type="text" name="name" placeholder="نام کامل" required>
                            <input class="form-control" type="email" name="email" placeholder="آدرس ایمیل" required>
                            <input class="form-control" type="password" name="password" placeholder="رمز عبور" required>
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">ثبت نام</button>
                            </div>
                        </form>
                        <div class="other-links">
                            <div class="text">یا ثبت نام با</div>
                            <a href="register13.html#"><i class="fab fa-facebook-f"></i> فیسبوک </a><a href="register13.html#"><i class="fab fa-google"></i>گوگل</a><a href="register13.html#"><i class="fab fa-linkedin-in"></i>لینکدین</a>
                        </div>
                        <div class="page-links">
                            <a href="login13.html">ورود به حساب</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
